.Flex {
    display: flex;
}


.CardTitle {
    line-height: 70px;
    font-weight: bold;
}

.CardTitleInner {
    padding-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
}

.List {
    margin-bottom: 25px;
    padding: 25px;
}

th {
    border-bottom: 3px white solid;
}

option {
    background: var(--BgAvg);
}


.RowRight {
    float: right;
    margin: 12px;
    margin-right: -12px;
}

.RowLeft {
    float: left;
    margin-bottom: 20px;
}

.Row input {
    margin-right: 0;
}

.Row {
    min-height: 70px;
    margin-bottom: 20px;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.Bold {
    font-weight: bold;
}

.Fill {
    width: 100%;
    margin-left: 0;
}

.Radius,
.Card {
    border-radius: 10px;
}

.Card {
    text-align: left;
    padding: 0 25px;
    background: #fff3;
    height: 100%;
    flex: 1;
    margin-right: 20px;
    min-height: 70px;
    font-size: 20px;
}

.Card:last-child {
    margin-right: 0;
}

.hr {
    height: 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, white, var(--white50), transparent);
}

pre {
    font-family: Bahnschrift, '微软雅黑';
}

.input {
    flex-basis: 75%;
    background: var(--white10);
    border: 2px solid transparent;
    font-size: 1.2rem;
    line-height: 2.5rem;
    border-radius: .25rem;
    padding: 0 .6rem;
    color: white;
    transition: all var(--Fast) ease;
    font-family: Bahnschrift, '微软雅黑';
}

.CardInput {
    width: calc(100% - 130px);
}

.CardSelect {
    margin: 20px 0;
    height: 50px;
    margin-top: 8px;
    margin-left: -5px;
    width: 282px;
}

.inputSpan {
    line-height: 67px;
}

.input:focus {
    outline: none;
    border-color: var(--white50);
    background: transparent;
}

.input::-webkit-input-placeholder {
    color: var(--white20);
}

.inputBox {
    display: flex;
    color: white;
    margin-top: .5rem;
    padding: 8px 0px;
}

.inputBox span {
    flex-basis: 25%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 44px;
    margin-top: 2px;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    /* 边框 */
    --white10: rgba(255, 255, 255, .1);
    --white20: rgba(255, 255, 255, .2);
    --white30: rgba(255, 255, 255, .3);
    --white40: rgba(255, 255, 255, .4);
    --white50: rgba(255, 255, 255, .5);
    --black90: rgba(0, 0, 0, .9);
    --black80: rgba(0, 0, 0, .8);
    --black70: rgba(0, 0, 0, .7);
    --black60: rgba(0, 0, 0, .6);
    --black50: rgba(0, 0, 0, .5);
    /* 色卡 */
    --Red: rgb(183, 28, 28);
    --Red50: rgba(183, 28, 28, .5);
    --Orange: rgb(138, 79, 27);
    --Orange50: rgb(138, 79, 27, .5);
    --yellow: rgb(130, 119, 23);
    --yellow50: rgba(130, 119, 23, .5);
    --Cyan: rgb(0, 96, 100);
    --Cyan50: rgba(0, 96, 100, .5);
    --Blue: rgb(1, 87, 155);
    --Blue50: rgba(1, 87, 155, .5);
    --purple: rgb(74, 20, 140);
    --purple50: rgba(74, 20, 140, .5);
    --BgAvg: #122e58;
    /* 其他参数 */
    --Fast: .3s;
    --BodyHeight: 510px;
}

html {
    background-color: var(--BgAvg);
}

@media screen and (max-height:510px) {
    html {
        background-color: transparent;
    }
}

body {
    transition: filter var(--Fast) ease;
    background: linear-gradient(var(--Blue), var(--Blue50), transparent), url(/images/techBG1.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: Bahnschrift, '微软雅黑';
    text-align: -webkit-center;
    margin: 0;
    min-width: 400px;
    min-height: 100vh;
    padding-top: .01px;
    width: 100vw;
    color: white;
}

#siteTitle {
    margin-top: 4rem;
    color: #fff;
    font-size: 35px;
    /* text-align-last: justify; */
    text-align: left;
    font-weight: bold;
}

#projectsBox {
    display: flex;
}

#loginBox {
    margin-top: 20px;
    text-align: center;
    max-width: 350px;
}

button {
    background: #fff;
    padding: 8px 12px;
    border-radius: .25rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--Blue50);
    color: var(--Blue);
    font-size: 1.2rem;
    transition: all var(--Fast) ease;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, var(--Blue50), var(--Blue));
    border-color: var(--blue);
    color: white;
}

button:focus {
    background: linear-gradient(to right, transparent, var(--Blue50));
    color: white;
    outline: 0;
    border-color: white;
    box-shadow: 0 0 10px white;
    font-weight: bold;
}

button:first-child {
    margin-top: 0;
}

button span {
    color: var(--Blue50);
    transition: all var(--Fast) ease;
    font-family: Bahnschrift, '微软雅黑';
    font-size: .6rem;
    margin-left: 5px;
}

button:hover span {
    color: var(--white50);
}

button:focus span {
    color: var(--white50);
}

#footer {
    text-align: center;
    margin-top: 2rem;
    color: var(--white50);
    line-height: 20px;
}

.MenuButton {
    background: var(--white30);
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 0;
    transition: all var(--Fast) ease;
}

.MenuButton:last-child {
    margin-bottom: 0;
}

.MenuButton:hover {
    background: var(--white50);
}