.userList { padding: 20px; overflow:hidden;}
.userList .list {width:100%;border-top:2px solid #dfc9b2; border-bottom:2px solid #dfc9b2}
.userList .list th{background:#f7f4eb; color: #8a7152}
.userList .list td{padding: 5px; border-top: 1px solid #dfc9b2}
.userList .list td{border-left:1px solid #e1e1e1}